@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: #e5e7eb; 
  
  /* 絕對鎖定網頁底層，禁止手機瀏覽器的彈性拉扯與整頁滑動 */
  overflow: hidden;
  overscroll-behavior-y: none;
}
