@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: #e5e7eb; 
  
  /* 鎖定底層滑動 */
  overflow: hidden;
  overscroll-behavior-y: none;
  /* 禁止一些特殊的手勢操作引發畫面偏移 */
  touch-action: pan-x pan-y; 
}

/* 將 React 的根節點絕對釘死在視窗的四個角落 */
#root {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
